<%- include('../partials/head', { title }) %>
<div class="container">
  <div class="card center">
    <h1><%= title %></h1>
    <p class="muted"><%= message %></p>
  </div>
</div>
<%- include('../partials/foot') %>
